.App {
  align-items: center;
  text-align: center;
  font-family: sans-serif;
}

.App h2 {
  color: rgb(24, 201, 24);
}

form {
  display: flex;
  justify-content: center;
}

form .text {
  justify-content: space-between;
}

.dateamount {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 0;
}

.nameinput {
  width:400px;
  display: flex;
  flex-direction: row;
}

.dateamount .inputDate{
  width: 160px;
}

.inputtext{
  display: flex;
  justify-content: space-between;
}

.return {
  display: flex;
}

input {
  border-radius: 0px;
  outline: none;
}

form button {
  padding: 10px;
  color: white;
  background-color: rgb(24, 201, 24);
  cursor: pointer;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: 0 3px 5px forestgreen;
  margin-top: 10px;
  margin-bottom: 10px;
}

button:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(23, 214, 49);
  transform: scale(1.05);
  transition: 0.3s;
}

.tabel {
  display: flex;
  justify-content: center;
}

.design {
  display: inline-block;
  margin:5px 10px;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 5px;
}

.delete{
  background-color:  rgb(23, 214, 49);
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 3px 5px forestgreen;
  outline: none;
  margin: 10px;
  cursor: pointer;
}




